apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: vc-diligence
  labels:
    app: frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
