apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: artifacts-pvc
  namespace: vc-diligence
spec:
  accessModes:
    - ReadWriteMany  # Multiple pods can read/write
  resources:
    requests:
      storage: 20Gi
  storageClassName: nfs-client  # Using nfs-client which supports ReadWriteMany
